@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.menu-item{
	
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 20px 20px 20px 20px;
	display: inline-block;
	font-family: Montserrat;
	color: white;
	font-size:20px;
	text-align: center;
	color:white;
	transition-duration: color 5s;
}
.menu-item:hover{
    color: black;
  }
  /* Font */

/* Global CSS */
body {
  background-color: #f1faee;
}
em {
  color: #212121;
  font-style: normal;
}
a {
  text-decoration: none;
}
li {
  display: inline;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navbar */
.mainheader {
  background-color: #035e7b;
  width: 100vw;
  height: auto;
  padding: 4vh 110px;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
}
.logo {
  height: 85px;
}
.menu-item {
  display: inline-flex;
  margin: 0px 40px;
}

.menu-item a {
  margin: 0px 25px;
  color: #f1faee;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  display: inline;
}
.searchbar {
  background-color: #b43539;
  border-radius: 100px;
  padding: 5px;
  width: 240px;
  height: 30px;
}
.input-area {
  padding: 5px;
  font-size: 20px;
  border-style: none;
  background-color: #00000000;
  color: #f1faee;
  width: 100%;
  padding: 10px 35px 10px 15px;
}
::placeholder {
  color: #afafaf;
  font-size: 20px;
  font-weight: 100;
}
.input-area:focus {
  outline: 0px;
}
.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-right: 5px;
}
.search-button-img {
  width: 20px;
  height: 20px;
}
/* Newsletter */
.container{
	width: 80vw;
}
.news-header{
   background-image: url('b2.jpg');
   width: 100vw;
   height: 400px;
   padding: 10px 35px 10px 15px;
   color: #f1faee;
   font-size: 26px;
   font-family: "Montserrat", sans-serif;
}
#news-1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #007EA7;
    padding: 10px 35px 10px 15px;
    display: block;
}
#tr-1{
    background-color: #2A9D8F;
    margin-right: 500px;
    border-radius: 100px;
    width: 550px;
    height: 170px;
    display: table;
    display: block;
}
#tr-2{
    background-color: #007EA7;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 15px;
    border-radius: 100px;
    width: 550px;
    height: 170px;
    display: table;
    display: block;
}
.project-1{
    border-radius: 100%;
    width: 130px;
    height: 130px;
    padding: 15px 15px 15px 15px;
}

.garchig-1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
}
.content{
    padding-top: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 100%;
    align-items: center;
    color: #FFFFFF;
    padding: 0px 20px 20px 20px;
}
.footer-item{
    background: rgba(241, 250, 238, 1);
    text-align: center;
    color: black;
    font-family: Montserrat;
    font-style: normal;
}
.footer-item a{
    background: rgba(241, 250, 238, 1);
    text-align: center;
    color: black;
    font-family: Montserrat;
    display: block;

}
.icon{
    width: 140px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
